.Resty{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  min-height: 100vh;
  header {
    background-color: #272727;
    color: antiquewhite;
    max-height: 10vh;
  }
  h1 {
    margin-left: 10vw;
  }
}

body {
  margin:0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
