.Controls {
  display:flex;
  flex-direction: column;
  padding: .2rem;

  input[type="text"],
  textarea {
    width: 75%;
  }
  div {
    padding: .5rem 0rem;
  }

  label {
    padding: .5rem;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked+label,
  input[type="radio"]:hover+label {
    background-color: #272727;
    color: whitesmoke;
  }

  button {
    padding: .3rem;
  }


}
